<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <script src="/js/horloge.js" defer></script>
  <link rel="stylesheet" href="/css/UI/header.css">
</head>
<body>
  <div class="header">
    <a class="logo" to="/">
      <img src="https://mit.tn/static/img/logo-mit.webp" alt="google-meet"/>
    </a>
    <div class="date time-header" id="clock"> </div>
    <i class="icon fas fa-user-circle"></i>
  </div>
</body>
</html>