<div class="header">
  <a class="logo" to="/">
    <img src="https://mit.tn/static/img/logo-mit.webp" alt="google-meet"/>
  </a>
  <div class="date time-header" id="clock"> </div>
  <i class="icon fas fa-user-circle"></i>
</div>
