
<link rel="stylesheet" href="css/UI/RoomFooter.css" />

<div id="downloadBox" >
  <div id="downloadClose" onclick="removeBox()">
    <i class="fas fa-times"></i>
  </div>
  <a id="downloadLink" download="mediarecorder.webm" name="mediarecorder.webm" href>
      Download video file
      <i class="ml-2 fa fa-download icon-download" aria-hidden="true"></i> 
  </a>
</div>

<div class="main__controls">
  <div class="main__controls__block">
    <div class="main__controls__button mute-btn" onclick="muteUnmute()">
      <i class="fas fa-microphone-alt"></i>
      <span>Mute</span>
    </div>
    <div class="main__controls__button video-btn" onclick="playStop()">
      <i class="fas fa-video"></i>
      <span>Stop Video</span>
    </div>
  </div>
  <div class="main__controls__block mid-block">
    <div class="main__controls__button" onclick="invite()">
      <i class="fad fa-user-plus"></i>
      <span>Invite</span>
    </div>
    <!-- onclick="shareScreen()" -->
    <div class="main__controls__button share-btn " id="shareBtn" onclick="shareScreen()" >
      <img src="img/start-share.svg" alt="start-share" /> 
      <span>Share Screen</span>
    </div>
    <div class="main__controls__button record-btn "  id="startRecord" onclick="startRecord()">
      <img src="img/start-recording.svg" alt="start-recording"  /> 
      <span>Start record</span>
    </div>
    <div class="main__controls__button record-btn"  id="stopRecord" onclick="StopRecord()">
      <img src="img/stop-recording.svg" alt="stop-recording"  /> 
      <span>Stop Record </span>
    </div>
    <div class="main__controls__button chat-btn" id="chats" onclick="handleScreen(this)">
      <i class="fas fa-comment-alt"></i>
      <span>Chat</span>
    </div>
    <div class="main__controls__button users-btn" id="participants" onclick="handleScreen(this)">
      <i class="fas fa-user-friends"></i>
      <span>Participants</span>
      <span id="nb_Participants"></span>
    </div>
  </div>
  <div class="main__controls__block">
    <div class="main__controls__button" id="end-call" onclick="location.href='/'">
      <img src="img/end-call.svg" alt="end-call" />
    </div>
  </div>
</div>