<link rel="stylesheet" href="/css/UI/RoomInfo.css">
<script src="/js/RoomInfo.js" defer></script>
<div id="room-info">
  <div id="modal-content">
    <div class="meeting-info-block">
      <div class="meeting-header text-center">
        <h3 class="mt-2 ml-5 ">Your meeting's ready <i class="fas fa-check-circle"></i></h3>
        <i class="icon fas fa-times" id="close"></i>
      </div>
      <p class="mt-4">Meeting ID : <span id="id-meet" class="font-weight-bold"></span></p>
      <div class="meet-link font-weight-normal">
        <span id="link-meet" class="font-weight-bold"></span>
        <i class=" fas fa-copy" id="copy"></i>
      </div>
      <p class="info-text mt-2 ">
        share this meeting link with others you want in the meeting
      </p>
    </div>
  </div>
</div>