
<link rel="stylesheet" href="css/UI/RoomHeader.css">
<script src="/js/horloge.js" defer></script>
<body>
  <div class="frame-header" id="frame-header">
    <!-- <div class="header-items icon-block" >
      <i class="icon fas fa-user-friends" ></i>
    </div>
    <div class="header-items icon-block" >
      <i class="icon fas fa-comment-alt" ></i>
      <span class="alert-circle-icon"></span>
    </div> -->
    <div class="header-items date-block time-header"></div>
    <!-- <div class="header-items icon-block">
      <i class="icon profile fas fa-user-circle" ></i>
    </div> -->
  </div>
</body>
</html>