<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="stylesheet" href="/css/UI/Header.css">
  <link rel="stylesheet" href="/css/NotFound.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
  <div class="no-match">
    <%- include('UI/Header'); -%>
    <div class="no-match__content">
      <img src="/img/404.jpg" alt="404">
      <h2>Invalid video call name.</h2>
      <div class="action-btn">
        <a href="/" class="btn btn-warning blue">Return to home screen</a>
      </div>
    </div>
  </div>
</body>
</html>  